/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Roboto+Slab:wght@300;400;500;600;700;900&display=swap');

/* Box Sizing */
*, 
*::before, 
*::after {
    box-sizing: border-box;
}

/* Custom Properties */

:root {
    --ff-roboto-slab: 'Roboto Slab', serif;
    --ff-oswald: 'Oswald', sans-serif;
    --fw-light: 300;
    --fw-reg: 400;
    --fw-bold: 700;
    --fw-extra-bold: 900;

    --clr-green: #2A9D8F;
    --clr-green-light: #3debd6;
    --clr-sienna: #E76F51;
    --clr-blue:  #264653;
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-black: black;

    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

/* General Styles */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-roboto-slab);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

:focus {
    outline: 3px solid var(--clr-green);
    outline-offset: 3px;
}

/* Typography */

h1, 
h2, 
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1); }

h2 { font-size: var(--fs-h2); }

h3 { font-size: var(--fs-h3); }

.section-title {
    margin-bottom: .25em;
}

.section-subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.intro--subtitle, 
.profile--subtitle {
    background-color: var(--clr-green);
    font-family: var(--ff-oswald);
    padding: 0.25em 1em;
}

.intro--title {
    font-weight: var(--fw-light);
}

/* Header Section */

.header-section {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
}

.logo {
    max-width: 50px;
}

.nav {
    position: fixed;
    /* background: var(--clr-dark); */
    background: var(--clr-blue);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav--list {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav--link {
    color: inherit;
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    text-decoration: none;
}

.nav--link:hover {
    color: var(--clr-green);
}

.toggle-nav {
    padding: .5em;
    background: transparent;
    border: 0;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .toggle-nav {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
    margin: 1em;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    /* background: var(--clr-dark); */
    background: var(--clr-green);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }

/* Intro Section */

.intro-section {
    position: relative;
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 2em;
    grid-template-areas: 
        "img intro--title"
        "img intro--subtitle";
    grid-template-columns: min-content max-content;
}

.intro--img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
    box-shadow: var(--bs);
}

strong {
    font-weight: var(--fw-extra-bold);
    color: var(--clr-green);
}

.intro--subtitle {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
    margin-bottom: 2em;
    text-transform: uppercase;
    letter-spacing: .35rem;
}

/* Services Section */

.services-section {
    background-color: var(--clr-blue);
    color: var(--clr-light);
    background-image: url(/img/services-bg.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    text-align: center;
    margin-bottom: 4em;
}

.services {
    display: flex;
    column-gap: 1.5em;
    width: 80%;
    margin: auto auto 4em auto;
}

/* .service + .service {
    margin-left: 2em;
} */

.service {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
}

.services--title {
    color: var(--clr-green);
    position: relative;
}

.services--title::after {
    content: '';
    display: block;
    width: 2em;
    height: 2px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.5;
}

.work-btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-green);
    color: var(--clr-black);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    letter-spacing: 2px;
    font-weight: var(--fw-extra-bold);
    transition: transform 200ms ease-in-out;
}

.work-btn:hover {
    transform: scale(1.1);
}

/* Profile Section */

.profile-section {
    display: grid;
    grid-template-areas: 
        "title img"
        "subtitle img"
        "text img";
    grid-template-columns: 1fr 200px;
    grid-column-gap: 1.5em;
    width: 70%;
    margin: auto;
}

.profile-img {
    grid-area: img;
    box-shadow: var(--bs);
    position: relative;
    z-index: 2;
}

.profile--title {
    grid-area: title;
    margin-left: .5em;
    color: var(--clr-green);
}

.profile--subtitle {
    grid-area: subtitle;
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    width: calc(100% + 1.5em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
}

.profile--body {
    padding: 0 2em;
}

/* Portfolio Section */

.portfolio-section {
    background-color: var(--clr-blue);
    color: var(--clr-light);
    text-align: center;
}

.portfolio--subtitle {
    color: var(--clr-green);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 80%;
    margin: auto;
}

.projects--item {
    background-color: var(--clr-green);
    overflow: hidden;
}

.projects--img {
    transition:
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.projects--item:focus {
    position:relative;
    z-index: 2;
}

.projects--img:hover,
.projects--item:focus .projects--img {
    transform: scale(1.2);
    opacity: .5;
}

/* Footer Section */

.footer {
    background: #111;
    color: var(--clr-green);
    text-align: center;
    padding: 2.5em;
    font-size: var(--fs-h3);
}

.footer a { 
    color: inherit;
    text-decoration: none;
}

.footer--email-link {
    font-weight: var(--fw-bold);
}

.footer--email-link:hover,
.social-list--link:hover {
    opacity: .7;
}

.footer--email-link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list--item {
    margin: 0 .5em;
}

.social-list--link {
    padding: .5em;
}


/* RESPONSIVE MODE */

@media (max-width: 576px) {
    :root {
        --fs-h1: 3.5rem;
        --fs-h2: 3rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.2rem;
    }

/* General Styles */

    section {
        padding: 5em 2em;
    }

/* Typography */

    .section-title {
        margin-bottom: .25em;
        text-align: center;
    }

    .section-subtitle {
        text-align: center;
    }

/* Header Section */

.header-section {
    padding: 1em;
}

/* Intro Section */

.intro-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding-top: 2em;
}

.intro--title {
    margin: 0;
}

.intro--subtitle {
    width: 90%;
    margin: 1em auto 1.5em auto;
    padding: .5em;
    position: unset;
}

.intro--img {
    width: 80%;
    margin: auto;
}

/* Services Section */

.services-section {
    margin-bottom: 0;
    padding-top: 4em;
    padding-bottom: 7em;
}

.services {
    flex-direction: column;
    column-gap: 0;
    row-gap: 3em;
    width: 100%;
    margin: auto auto 3em auto;
}

.services--title {
    color: var(--clr-green-light);
}

.services--title::after {
    opacity: 0.7;
}

.work-btn {
    padding: .5em 2.5em;
    font-size: 1.2rem;
    background: var(--clr-green-light);
}

/* Profile Section */

.profile-section {
    grid-template-areas: 
        "title"
        "subtitle"
        "img";
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    row-gap: 2em;
    width: 100%;
}

.profile--title {
    margin: 0;
}

.profile--subtitle {
    width: 90%;
    padding: .5em 1em;
    margin: auto;
}

.profile--body {
    padding: 0 2em;
}

/* Portfolio Section */

.portfolio--subtitle {
    margin-bottom: 1.5em;
    color: var(--clr-green-light);
}

.projects {
    width: 100%;
    margin: auto;
}

/* Footer Section */

.footer {
    font-size: var(--fs-body);
    color: var(--clr-green-light);
}

.social-list {
    margin: 1em 0 0;
}

}